#!/usr/bin/make -f

# special makefile variables
.RECIPEPREFIX := >

%:
>	dh $@

override_dh_auto_test:
>	@echo "skip running tests"

override_dh_auto_install:
>	$(MAKE) --jobs=12 INSTALL=install DESTDIR="${CURDIR}/debian/debcomprt" DPKG_INSTALL=true prefix=/usr/local install

override_dh_usrlocal:
	# Not ideal, but only packages from the debian archive should go into '/usr/' vs
	# '/usr/local'. At least in my opinion. For reference:
	# https://stackoverflow.com/questions/7459644/why-is-dh-usrlocal-throwing-a-build-error
>	@echo "allow for files to exist in /usr/local"
